
  <div class="_nav container _padding-top">
    <a href="/" class="_noHover">
    <span class="_nav-logo">
      <img src="/app/images/atlx_hr_sm.png" />
    </span></a><span class="_nav-inline">
      <!-- <a href="/" class="_button _button-noBorder _button-opacity-half">Home</a> -->
      <a href="/schedule.html" class="_button-active _button _button-bottomBorder">Schedule</a><a href="/venues.html" class="_button _button-5 _button-bottomBorder">Venues</a><a href="/music.html" class="_button _button-6  _button-bottomBorder">Bands &amp; DJs</a><a href="/tickets.html" class="_button _button-4  _button-bottomBorder">Tickets &amp; Registration</a>
      <!-- <a href="#" class="_button _button-4 _button-disabled  _button-bottomBorder">Tickets &amp; Registration</a> -->
    </span>
  </div>
