
<div class="ticket">
  <span class="_border-hatch-circle-top"></span>
  <div class="_border-hatch-box">
    <div class="_border-hatch-box-content">
      <span class="_padding-bottom"><h4 class="_padding-none color-red _inline">$70</h4> – Three left</span>
      <div class="_headline-max _font-display">
        <span>TIER TWO Dance Pass</span>
      </div>
      <hr class="_border-thin-double _margin-bottom" />
      <div class="_headline-max _font-display">
        <span>ADMIT ONE</span>
      </div>
    </div>
  </div>
  <span class="_border-hatch-circle-bottom"></span>
</div>