

// *********************************************************
// SETTINGS & DEFAULTS
// *********************************************************

    

// *********************************************************
// UNIVERSAL
// - Sizing
// - Fonts
// - Colors
// *********************************************************



// display font / typography
@font-face {
  font-family: 'Lavanderia';
  src: url('../fonts/Lavanderia-Regular.eot');
  src: url('../fonts/Lavanderia-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lavanderia-Regular.woff') format('woff'),
    url('../fonts/Lavanderia-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Fonts
%sans-serif {font-family: "Open Sans", "Helvetica Neue", arial, sans-serif;}
%serif {font-family: 'Merriweather', Georgia, serif;}
%display { font-family: 'Lavanderia', 'Merriweather', Georgia, serif; }

%no-float {
  float: none !important;
}

// highlight font color
@include selection-color (rgba($light-blue, 0.8), white, none);



// FONT SIZES
// 1rem = 16px
// $base * 0.875 = 14px
// you can also use the golden ratio calculator

$base: 1rem;

$size-vsmall: $base*0.7;
$size-smallish: $base*0.83;
$size-small: $base*0.98;
$size-smaller: $base*0.875;
$size-smallerish: $base*0.86;

$size-medium: $base;

$size-slightly-large: $base*1.1;
$size-slightly-larger: $base*1.3;

$size-largish: $base*1.6;
$size-large: $base*2;
$size-larger: $base*2.5;
$size-largest: $base*3.2;

$size-menu: $size-small;             // 14px
   $size-menu-social: $size-medium;      // 12px / social icons

$size-footer: $size-small;  // 14px


// Preview Post sizes
$size-preview-date: $size-vsmall; 
$size-preview-title: $size-largish;
$size-preview-tag: $size-smaller;

$size-form: $base*0.9; $height-form: $base*2;

$size-article-title: $size-larger;
  $size-article-title-mobile: $base*1.8;
  $height-article-title: $base*3.445;
  $height-article-title-mobile: golden-ratio($size-article-title-mobile, 1);

$size-article-subtitle: $size-slightly-large;
  $size-article-subtitle-mobile: $base*1;
  $height-article-subtitle: golden-ratio($size-article-subtitle, 1);


$size-h2: golden-ratio($base, 1);
  $height-h2: golden-ratio($size-h2, 1);

$size-h3: $size-slightly-larger;
  $height-h3: golden-ratio($size-h3, 1);

$size-p: $size-slightly-large; 
  $height-p: golden-ratio($size-slightly-larger, 1);

$s1: golden-ratio(14px,  1);


.margin-top {
  margin-top: $base;
}

.margin-bottom {
  margin-bottom: $base;
}



strong {
  color: $deep-gray;
}

h1, %h1 {
  @extend %serif;
  font-size: $base*2;
  line-height: $base*4;
  font-weight: 300;
  padding-top: $base*4;
  padding-bottom: $base*2;
}

h2, %h2 {
  @extend %serif;
  font-size: $base*1.5;
  line-height: $base*2.5;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: $dark-gray;
  padding-bottom: $base;
}



// z-order

$z-top: 9999;







