

// 
//  Buttons are normal buttons!
// 

// colors and styling is in _themes

// follows the $base (21px) vertical rhythm, so should always be a multiple of 21
// border, padding, line-height, and text size all affect height

%button {
  @extend %font-sans;
  cursor: pointer;
  @extend %ease;
  // font-weight: 700;
  letter-spacing: -0.2px;
  // font-size: $base-p1;
  margin-bottom: $base;
  border-width: 0;
  margin-right: $base/2;

  @extend %h5;
}
  ._button-noBorder {
    letter-spacing: 0.3px;
    background-color: transparent;
    border-width: $border-medium;
    @extend %font-bold;
  }

  // standard red button.
  ._button {
    @extend %button;
    @extend %font-smooth;
    @extend %ease;

    display: inline-block;
    padding: $base*2/3 $base*3/2;

    // default
    &:hover {
      @extend %ease;
    }
  }










