

// 
// 
//    THEME DEFINITIONS
// 
// 


  // links
  $color-link: $color-red;
  $color-link-hover: getHoverColor($color-red); // $color-red;
  $color-link-underline: getHoverColor($color-red);


  // inputs
  $color-input-border: $color-gray-light;
  $color-input-bg: $color-silver;

  //  card insert
  $color-card-bg: $color-white;

  $color-highlight: $color-red;


  // buttons
  $color-button-text: $color-yellow;
  $color-button-bg: $color-red;
  $color-button-hover-bg: getHoverColor($color-red);
  $color-button-border: $color-red;
  
  // CTAs


  // Loading
  $color-loading-bg: $color-yellow;
  $color-loading-text: $color-red;


  // links
  $color-dark-link: rgba($color-red, 1);
  $color-dark-link-hover: rgba($color-white, 1); // $color-red;
  $color-dark-link-underline: $color-dark-link-hover;



  // basic color theme
  $color-logo: $color-red; // #7ECDF8 !important;
  $color-bg: $color-paper;
  $color-text: $color-black;
  $color-urgent: $color-red;
  $color-nav-bg: $color-yellow; //$color-silver;


  // errors and warnings
  $color-warning: $color-red;




// 
//    Interactive CTA Themes
// 

// bg:    red
// text:  paper
// hover: light-red
$color-cta-bg:              $color-red;
$color-cta-text:            $color-paper;
$color-cta-hover-bg:        getHoverColorLight($color-red);

// bg:    black
// text:  paper
// hover: lighter lack
$color-cta-two-bg:          $color-black;
$color-cta-two-text:        $color-paper;
$color-cta-two-hover-bg:    getHoverColorLight($color-black);

// bg:    light-gray
// text:  pure white
// hover: darker black
$color-cta-three-bg:        $color-gray-light;
$color-cta-three-text:      $color-purewhite;
$color-cta-three-hover-bg:  getHoverColor($color-gray-light);

// bg:    burnt
// text:  pure white
// hover: darker burnt
$color-cta-four-bg:        $color-burnt;
$color-cta-four-text:      $color-purewhite;
$color-cta-four-hover-bg:  getHoverColor($color-burnt);





  // theme-input-silver
  //   bg: paper
  //   placeholder-text: light gray
  //   border: dark gray
  //   border-focus: red half-opacity
  %theme-input-paper, ._theme-input-paper {
    background-color: $color-paper;
    color: $color-black;
    @extend %ease;
    @include input-placeholder {
      color: $color-silver-dark;
      @extend %font-light;
      font-weight: 300 !important;
    }
    border: $border-width solid rgba($color-gray, 1);
    &:focus {
      @extend %ease;
      border-color: rgba($color-blue, 1);
      outline: rgba($color-blue, 0.5);
    }
  }

  %theme-input-transparent, ._theme-input-transparent {
    @extend %theme-input-paper;
    color: $color-silver;
    background-color: transparent;
  }



  // theme-link-red
  //   text: red
  //   hover: dark red
  //   border: 2px solid dark red
  //   ease
  //   (some of these inherits from _typography)
  %theme-link-red, ._theme-link-red {
    a, a:focus, a:active, a:link {
      color: $color-red !important;
      border-color: transparent !important; //$color-red;
      &:hover {
        color: getHoverColor($color-red) !important;
        border-color: getHoverColor($color-red) !important;
      }
    }
  }

  // theme-link-yellow
  //   text: yellow
  //   hover: orange
  //   border: transparent
  //   hover-border: 2px solid dark red
  //   ease
  //   (some of these inherits from _typography)
  %theme-link-yellow, ._theme-link-yellow {
    a, a:focus, a:active, a:link {
      color: $color-yellow;
      border-color: rgba($color-orange,0);
      &:hover {
        color: getHoverColor($color-orange);
        border-color: getHoverColor($color-orange);
      }
    }
  }

  // theme-link-dark
  //   text: orange
  //   hover: white
  //   border: 2px solid orange
  //   ease
  //   (some of these inherits from _typography)
  %theme-link-dark, ._theme-link-dark {
    a, a:focus, a:active, a:link {
      color: $color-dark-link;
      border-color: $color-dark-link;
      &:hover {
        color: $color-dark-link-hover;
        border-color: $color-dark-link-underline;
      }
    }
  }





// 
// CTAs 
// (larger buttons)
// 

._cta {
  ._cta-content-container {
    border-color: $color-cta-bg;
  }
  ._cta-content {
    color: $color-button-text;
    background: $color-cta-bg;
  }
  &:hover {
    ._cta-content {
      background: $color-cta-hover-bg; 
    }
    ._cta-content-container {
      border-color: $color-cta-hover-bg;
    }
  }
}

  ._cta-2 {
    ._cta-content-container {
      border-color: $color-cta-two-bg !important;
    }
    ._cta-content {
      color: $color-cta-two-text;
      background: $color-cta-two-bg;
    }
    &:hover {
      ._cta-content {
        background: $color-cta-two-hover-bg; 
      }
      ._cta-content-container {
        border-color: $color-cta-two-hover-bg !important;
      }
    }
  }

  ._cta-3 {
    ._cta-content-container {
      border-color: $color-cta-three-bg !important;
    }
    ._cta-content {
      color: $color-cta-three-text;
      background: $color-cta-three-bg;
    }
    &:hover {
      ._cta-content {
        background: $color-cta-three-hover-bg; 
      }
      ._cta-content-container {
        border-color: $color-cta-three-hover-bg !important;
      }
    }
  }

  ._cta-4 {
    ._cta-content-container {
      border-color: $color-cta-four-bg !important;
    }
    ._cta-content {
      color: $color-cta-four-text;
      background: $color-cta-four-bg;
    }
    &:hover {
      ._cta-content {
        background: $color-cta-four-hover-bg; 
      }
      ._cta-content-container {
        border-color: $color-cta-four-hover-bg !important;
      }
    }
  }





// 
// Buttons
// 

._button {
  background: $color-cta-bg;
  color: $color-cta-text;
  &:hover {
    background: $color-cta-hover-bg; 
    color: $color-cta-text;
  }
  &._button-noBorder {
    color: $color-cta-bg;
    border-color: $color-cta-bg;
    &:hover {
      color: $color-paper;
      border-color: $color-cta-hover-bg;
    }
  }
}
  ._button-2 {
    background: $color-cta-two-bg;
    color: $color-cta-two-text;
    &:hover {
      background: $color-cta-two-hover-bg; 
      color: $color-cta-two-text;
    }
    &._button-noBorder {
      color: $color-cta-two-bg;
      border-color: $color-cta-two-bg;
      &:hover {
        color: $color-paper;
        border-color: $color-cta-two-hover-bg;
      }
    }
  }
  ._button-3 {
    background: $color-cta-three-bg;
    color: $color-cta-three-text;
    &:hover {
      background: $color-cta-three-hover-bg; 
      color: getHovercolor($color-cta-three-text);
    }
    &._button-noBorder {
      color: $color-cta-three-bg;
      border-color: $color-cta-three-bg;
      &:hover {
        color: $color-paper;
        border-color: $color-cta-three-hover-bg;
      }
    }
  }
  ._button-4 {
    background: $color-cta-four-bg;
    color: $color-cta-four-text;
    &:hover {
      background: $color-cta-four-hover-bg; 
      color: getHovercolor($color-cta-four-text);
    }
    &._button-noBorder {
      color: $color-cta-four-bg;
      border-color: $color-cta-four-bg;
      &:hover {
        color: $color-paper;
        border-color: $color-cta-four-hover-bg;
      }
    }
  }






